<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shrinkcom.medicale">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Medicale">
        <activity android:name=".activity.SelectLanguageActivty"></activity>
        <activity android:name=".activity.ShowPrescriptionDetailsActivty" />
        <activity android:name=".activity.PrecscriptionPaymentActivity" />
        <activity android:name=".activity.ProductInformationActivity" />
        <activity android:name=".activity.ShippingActivity" />
        <activity android:name=".activity.AddDeliveryAddress" />
        <activity android:name=".activity.ShowAddressList" />
        <activity android:name=".activity.CategoryPage" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.DiseaseCategoryActivity" />
        <activity android:name=".activity.MakePayamentActivity" />
        <activity android:name=".activity.OrderDatailActivity" />
        <activity android:name=".activity.PharmacyFragment" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.SingleProductActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".activity.MedicineCategoryActivity" />
        <activity android:name=".activity.MyPrescriptionUploadActivity" />
        <activity android:name=".activity.ProductOneActivity" />
        <activity
            android:name=".activity.NavigationActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.OtpActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.IntroOneActivity" />
        <activity android:name=".activity.SpleshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notiifcation.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".activity.SignUpActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>